button {
    background-color: darkblue;
    color: white;
}

.formatButton {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color:white!important;
}