.formatButton {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

h2 {
    text-align: center;
    color: darkblue;
}

.formatCard {
    height: 525px;
    background-color: deepskyblue;
    /* padding-bottom: 60px!important; */
    margin-bottom: 50px;
}