.formatTable {
    background-color: deepskyblue;
}

.formatHeader {
    font-size: xx-large;
    font-weight: bold;
    color: darkblue;
}

.alignTable {
    text-align: center;

}

/* MDBDataTable.formatTable {
    row-gap: 32dp!important;
} */