

#firstSection {
        background: url(assets/images/gunite-spa-inground-pool.jpg) no-repeat center center fixed;
        background-color: rgb(223, 193, 193);
        height: 120vh;
        background-size: cover;
        background-repeat: no-repeat;
      
}