body {
  background: url(../../assets/images/GazeboPool.jpg) no-repeat center center
    fixed;
  height: 120vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-center, h3 {
  text-align: center;
  color: darkblue;
  padding-right: 15px;
  padding-left: 0px;
}

h1, h4, h3, .H6FontFormat{
  padding-left: 50px;
  padding-right: 25px;
} 

h5, h6 {
  color: darkblue;
}

/* h1{
  color: white;
} */

h3,
h4,
h2 {
  font-weight: bold;
}

li {
  padding: 10px;
  color: darkblue;
  font-size: large;
}

.imageBKGR {
  background: url(../../assets/images/poolwater.jpeg) no-repeat center center
    fixed;
  background-color: rgb(223, 193, 193);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  text-align: center;
  padding: 0px;
  height: 13vh;
  background: url(../../assets/images/poolwater.jpeg);
}

.formatPic {
  padding-right: 0px;
}

.section1 {
  height: 65vh;
}

.poolservice {
  font-size: 27px;
  color: darkblue;
  font-weight: 500;
  font-family: "Kalam", cursive;
}

.moreinfo {
        border: none;
        display: block;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
        outline: none;
        overflow: hidden;
        position: relative;
        color: deepskyblue;
        font-weight: 700;
        font-size: 15px;
        background-color: #222;
        padding: 17px 60px;
        margin: 0 auto;
        box-shadow: 0 5px 15px rgba(0,0,0,0.20);
      }
      
      .moreinfo span {
        position: relative; 
        z-index: 1;
      }
      
      .moreinfo:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 490%;
        width: 140%;
        background: #455fd6;
        -webkit-transition: all .5s ease-in-out;
        transition: all .7s ease-in-out;
        -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
        transform: translateX(-98%) translateY(-25%) rotate(45deg);
      }
      
      .moreinfo:hover:after {
        -webkit-transform: translateX(-6%) translateY(-25%) rotate(45deg);
        transform: translateX(-9%) translateY(-25%) rotate(45deg);
      }
      
      .link {
        font-size: 20px;
        margin-top: 30px;
      }
      
      .link a {
        color: #000;
        font-size: 25px; 
      }