

body {
        background: url(../../assets/images/gunite-spa-inground-pool.jpg) no-repeat center center fixed;
        background-color: rgb(223, 193, 193);
        height: 120vh;
        background-size: cover;
        background-repeat: no-repeat;
      
}

.text-center, h3 {
        text-align: center;
        color: darkblue;
        padding-right: 0px;
        padding-left: 0px;
}

h1, h4, li, h3, .H5fontFormat {
        padding: 20px;
        color: darkblue;
}

h3, h4, h1 {
        font-weight: bold;
}

li {
        font-size: large;
}

.imageBKGR {
        background: url(../../assets/images/poolwater.jpeg) no-repeat center center fixed;
        background-color: rgb(223, 193, 193);
        /* height: 120vh; */
        background-size: cover;
        background-repeat: no-repeat;
}