body {
  background: url(../../assets/images/GazeboPool.jpg) no-repeat center center
    fixed;
  height: 120vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-center, h3 {
  text-align: center;
  color: darkblue;
  padding-right: 15px;
  padding-left: 0px;
}

h1, h4, h3, .H6FontFormat{
  padding-left: 50px;
  padding-right: 25px;
} 

h5, h6 {
  color: darkblue;
}

/* h1{
  color: white;
} */

h3,
h4,
h2 {
  font-weight: bold;
}

li {
  padding: 10px;
  color: darkblue;
  font-size: large;
}

.imageBKGR {
  background: url(../../assets/images/poolwater.jpeg) no-repeat center center
    fixed;
  background-color: rgb(223, 193, 193);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  text-align: center;
  padding: 0px;
  height: 13vh;
  background: url(../../assets/images/poolwater.jpeg);
}

.formatPic {
  padding-right: 0px;
}

.section1 {
  height: 65vh;
}

.poolservice {
  font-size: 27px;
  /* color: rgb(12, 3, 3); */
  color: darkblue;
  font-weight: 500;
  font-family: "Courgette", cursive;
  font-family: "Kalam", cursive;
}
