.navbar {
    background-image: url("../../assets/images/poolwater.jpeg");
    color: darkblue!important;
    padding-right: 120px;
    width: 100%;
    text-decoration: darkblue;
    font-weight: bolder;
}

.navBar-font {
    color: darkblue!important;
    font-weight: bold;
}

.navBarTitle {
    font-size: xx-large!important;
    font-weight: bold;
    color: darkblue!important;
    font-family: 'Cookie', cursive;
    font-family: 'Oleo Script', cursive;
}